<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Hello CSS!</title>

        <style>
            h1{
                display: inline-block;
                text-align: center;
                width: 100%;
                background-color: gray;
                color: white;
            }
        </style>
    </head>
    <body>
        <h1>Hello [[${name}]]</h1>
    </body>
</html>